Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
import pandas as pd
import selenium 
import pandas 
from selenium import webdriver 
import time
from selenium.common.exceptions import NoSuchElementException

In [3]:
driver= webdriver.Chrome("chromedriver.exe")

In [4]:
url= "https://www.naukri.com/"
driver.get(url)

In [5]:
search_job= driver.find_element_by_xpath('// input[@class="sugInp"]')

In [6]:
search_job.send_keys("Data Analyst")

In [7]:
search_loc= driver.find_element_by_xpath('//input[@name="location"]')

In [8]:
search_loc.send_keys("Banglore")

In [9]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')

In [10]:
search_btn.click()

In [11]:
job_name=[]
company_name=[]
job_location=[]
job_experience=[]

pos_name= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in pos_name:
    job_name.append(i.text)
job_loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']") 
for i in job_loc:
    job_location.append(i.text)
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    company_name.append(i.text)
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")  
for i in experience:
    job_experience.append(i.text)

In [12]:
Naukri_data=pd.DataFrame({})
Naukri_data['job_name']=job_name
Naukri_data['company_name']=company_name
Naukri_data['job_location']=job_location
Naukri_data['job_experience']=job_experience
Naukri_data1=Naukri_data[0:10]
Naukri_data1

,job_name,company_name,job_location,job_experience
0,Senior Data Analyst,Gaussian Networks Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-5 Yrs
1,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru",6-11 Yrs
2,Business Data Analyst,Trigent Software,Bangalore/Bengaluru,5-10 Yrs
3,Business Data Analyst,Trigent Software,Bangalore/Bengaluru,5-10 Yrs
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,Bangalore/Bengaluru,3-8 Yrs
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",8-12 Yrs
6,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru",6-11 Yrs
7,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,4-8 Yrs
8,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",4-9 Yrs
9,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,Bangalore/Bengaluru,6-8 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [13]:
driver1= webdriver.Chrome("chromedriver.exe")

In [14]:
url= "https://www.naukri.com/"
driver1.get(url)

In [15]:
search_job= driver1.find_element_by_xpath('// input[@class="sugInp"]')

In [16]:
search_job.send_keys("Data Scientist")

In [17]:
search_loc= driver1.find_element_by_xpath('//input[@name="location"]')

In [18]:
search_loc.send_keys("Banglore")

In [19]:
search_btn=driver1.find_element_by_xpath('//button[@class="btn"]')

In [20]:
search_btn.click()

In [21]:
job_name=[]
company_name=[]
job_location=[]
job_description=[]
job_opening_urls=[]
job_des=[]

pos_name= driver1.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in pos_name:
    job_name.append(i.text)
job_loc=driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']") 
for i in job_loc:
    job_location.append(i.text)
company=driver1.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    company_name.append(i.text)
url= driver1.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_opening_urls=[]
for i in url:
    job_opening_urls.append(i.get_attribute('href'))

for i in job_opening_urls:
    driver1.get(i)
    time.sleep(5)
    try:
        job_description= driver1.find_element_by_xpath("//section[@class='job-desc']")
        job_des.append(job_description.text)
    except:
        job_des.append("--")

In [22]:
Naukri_data=pd.DataFrame({})
Naukri_data['job_name']=job_name
Naukri_data['company_name']=company_name
Naukri_data['job_location']=job_location
Naukri_data['job_des']=job_des
Naukri_data2=Naukri_data[0:10]
Naukri_data2

,job_name,company_name,job_location,job_des
0,Hiring For Data Scientist,Tata Consultancy Services Ltd.,"Chennai, Bangalore/Bengaluru, Mumbai (All Area...",Job description\nMinumum 3 years of experience...
1,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,--
2,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description\nUse predictive modeling to in...
3,Data Scientist,Brillio,Bangalore/Bengaluru,Job description\nA day in the Life of Data Sci...
4,Data Scientist - I / II,Sharechat,Bangalore/Bengaluru,Job description\nResponsibilities\nApply state...
5,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,Job description\n\nMust Have skill sets:\n\nEx...
6,Data Scientist,Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru,--
7,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,--
8,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,Job description\nAs a Senior Data Scientist fo...
9,Senior Data Scientist,Airbnb,Bangalore/Bengaluru,Job description\nResponsibilities include:\nDe...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [23]:
driver= webdriver.Chrome("chromedriver.exe")

In [24]:
url= "https://www.naukri.com/"
driver.get(url)

In [25]:
search_job= driver.find_element_by_xpath('//input[@class="sugInp"]')

In [26]:
search_job.send_keys("Data Scientist")

In [27]:
search_btn=driver.find_element_by_xpath('//button[@class="btn"]')
search_btn

In [28]:
search_btn.click()

In [29]:
filter_button1=driver.find_element_by_xpath('//span[@class="ellipsis fleft"]')
filter_button1

In [30]:
filter_button1.click()

In [31]:
filter_button2=driver.find_element_by_xpath('//span[@title="Delhi / NCR"]')
filter_button2

In [32]:
filter_button2.click()

In [33]:
Job_title=[]
Job_location=[]
Company_name=[]
Experience_required=[]
job_name= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in job_name:
    Job_title.append(i.text)
job_location= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')  
for i in job_location:
    Job_location.append(i.text)
company_name= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_name:
    Company_name.append(i.text)
experience_required= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_required:
    Experience_required.append(i.text)

In [34]:
NCR_job_data= pd.DataFrame({})
NCR_job_data['Job_title']=Job_title
NCR_job_data['Job_location']= Job_location
NCR_job_data['Company_name']= Company_name
NCR_job_data['Experience_required']= Experience_required
NCR_job_data=NCR_job_data[0:10]
NCR_job_data

,Job_title,Job_location,Company_name,Experience_required
0,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,4-6 Yrs
1,Data Scientist,Noida\n(WFH during Covid),R Systems International Ltd.,3-6 Yrs
2,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs
3,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),Altran Technologies India Private Limited.,3-8 Yrs
4,Data Scientist - Python,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International Ltd.,5-8 Yrs
5,Data Scientist,Noida\n(WFH during Covid),People Prime Worldwide Pvt. Ltd.,4-6 Yrs
6,Senior Data Scientist,"New Delhi, Bangalore/Bengaluru, Delhi / NCR\n(...",Goals 101 Data Solutions Pvt. Ltd.,4-8 Yrs
7,Lead Data Scientist | 5+ Years | Remote,Gurgaon/Gurugram\n(WFH during Covid),Xtage Technologies Private Limited,5-10 Yrs
8,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,3-5 Yrs
9,Product Based Startup is Hiring For Data Scien...,Noida\n(WFH during Covid),LIVE CONNECTIONS PLACEMENTS PRIVATE LIMITED,4-9 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [35]:
Driver1=webdriver.Chrome("chromedriver.exe")
url="https://www.glassdoor.co.in/index.htm/" 
Driver1.get(url)

In [36]:
search_job= Driver1.find_element_by_xpath('//input[@id="sc.keyword"]')

In [37]:
search_job.send_keys("Data Scientist")

In [38]:
search_loc=Driver1.find_element_by_xpath('//input[@id="sc.location"]')

In [39]:
search_loc.send_keys("Noida")

In [40]:
search_btn=Driver1.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]')

In [41]:
search_btn.click()

In [42]:
Company_name=[]
Posted_time=[]    
Company_rating=[]
company_name= Driver1.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]')
for i in company_name:
    Company_name.append(i.text)
posted_time=Driver1.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-17n8uzw"]')
for i in posted_time:
    Posted_time.append(i.text)
company_rating=Driver1.find_elements_by_xpath('//span[@class=" job-search-key-srfzj0 e1cjmv6j0"]')
Company_rating=[]
for i in company_rating:
    Company_rating.append(i.text)

In [44]:
GD_company=pd.DataFrame({})
GD_company['Company_name']= Company_name[0:10]
GD_company['Posted_time']=Posted_time[0:10]
GD_company['Company_rating']=Company_rating[0:10]
GD_company=GD_company[0:10]
GD_company

             Company_name Posted_time Company_rating
0  Applied Materials Inc.        30d+            3.9
1              Top Mentor          5d            3.6
2                Lenskart          7d            3.4
3      Elpis IT Solutions          6d            3.9
4                  Argoid          7d            3.8
5                     IBM          2d            4.2
6            Airtel India         24d            4.0
7                      HP         12d            5.0
8            limeroad.com         19d            4.8
9                     ING         10d            4.0

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [45]:
Driver2=webdriver.Chrome("chromedriver.exe")

In [46]:
url="https://www.glassdoor.co.in/Salaries/index.htm" 
Driver2.get(url)

In [47]:
search_job= Driver2.find_element_by_id('KeywordSearch')

In [48]:
search_job.send_keys("Data Scientist")

In [49]:
search_loc= Driver2.find_element_by_id('LocationSearch')

In [50]:
search_loc.send_keys("Noida")

In [51]:
search_btn= Driver2.find_element_by_xpath('//button[@class="gd-btn-mkt"]')

In [52]:
search_btn.click()

In [53]:
Company_name=[]
Min_salary=[]
Average_salary=[]
Company_rating=[]
company_name=Driver2.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
for i in company_name[0:10]:
    Company_name.append(i.text)
min_salary=Driver2.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]') 
for i in min_salary[0:10]:
    Min_salary.append(i.text.replace('\n','---'))
average_salary=Driver2.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')
for i in average_salary[0:10]:
    Average_salary.append(i.text.replace('\n',''))
company_ratings=Driver2.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
for i in company_ratings[0:10]:
    Company_rating.append(i.text)

In [54]:
Salary_data=pd.DataFrame({})
Salary_data['Company_Name']= Company_name
Salary_data['Min_Max_Salary']= Min_salary
Salary_data['Average_Salary']= Average_salary
Salary_data['Company_Rating']=Company_rating
Salary_data=Salary_data[0:10]
Salary_data

                Company_Name Min_Max_Salary  Average_Salary Company_Rating
0  Tata Consultancy Services     ₹4L---₹13L   ₹6,28,021 /yr            3.9
1                        IBM     ₹1L---₹28L   ₹9,08,246 /yr            3.9
2                  Accenture     ₹6L---₹23L  ₹11,93,390 /yr            4.1
3                  Delhivery     ₹5L---₹1Cr  ₹12,49,716 /yr            3.7
4         Ericsson-Worldwide     ₹4L---₹17L   ₹7,58,335 /yr              4
5         UnitedHealth Group     ₹8L---₹16L  ₹12,80,000 /yr            3.7
6                      Optum     ₹8L---₹20L  ₹12,70,000 /yr            3.7
7     Optum Global Solutions    ₹10L---₹18L  ₹14,55,430 /yr            3.9
8         Valiance Solutions     ₹5L---₹15L   ₹8,86,064 /yr            4.2
9                EXL Service     ₹6L---₹16L  ₹11,10,000 /yr            3.6

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand

2.Product Description

3.Price

4.Discount %

In [55]:
Driver3=webdriver.Chrome("chromedriver.exe")

In [56]:
url="https://www.flipkart.com/" 
Driver3.get(url)

In [57]:
search_sunglasses= Driver3.find_element_by_xpath('//input[@class="_3704LK"]')

In [58]:
search_sunglasses.send_keys("sunglasses")

In [59]:
search_btn=Driver3.find_element_by_xpath('//button[@class="L0Z3Pu"]')

In [61]:
search_btn.click()

In [62]:
page1=Driver3.find_elements_by_xpath('//a[@class="ge-49M _2Kfbh8"]')

URl= Driver3.find_elements_by_xpath('//a[@class="ge-49M"]')

In [63]:
urls=[]
for i in page1:
    urls.append(i.get_attribute('href'))
urls

for i in URl[0:2]:
    urls.append(i.get_attribute('href'))

In [64]:
Brand_name=[]
Product_Description=[]
Price=[]
Discount=[]

for i in urls:
    Brand=Driver3.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in Brand:
        Brand_name.append(i.text)

    Product_Desc=Driver3.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in Product_Desc:
        Product_Description.append(i.text)
    
    price=Driver3.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
    
    discount=Driver3.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount:
        Discount.append(i.text)

In [65]:
SunGlass_data=pd.DataFrame({})
SunGlass_data['Brand_name']=Brand_name[0:100]
SunGlass_data['Product_Description']=Product_Description[0:100]
SunGlass_data['Price']= Price[0:100]
SunGlass_data['Discount']=Discount[0:100]
SunGlass_data

,Brand_name,Product_Description,Price,Discount
0,VOYAGE,"Gradient, UV Protection Wayfarer Sunglasses (52)",₹565,68% off
1,Singco India,"Mirrored, UV Protection, Riding Glasses, Other...",₹331,83% off
2,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
...,...,...,...,...
95,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498,67% off
96,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
97,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹474,68% off
98,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹520,34% off
99,NuVew,UV Protection Cat-eye Sunglasses (60),₹403,72% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [66]:
Driver5 = webdriver.Chrome('chromedriver.exe')
url= "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
Driver5.get(url)

In [67]:
page1=Driver5.find_element_by_xpath('//a[@class="ge-49M _2Kfbh8"]')

URl= Driver5.find_elements_by_xpath('//a[@class="ge-49M"]')

In [68]:
page1

In [69]:
URl

[<selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="6ce2191d-6053-4811-8fde-736ea0c022bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="bcc0651e-6d27-4dc4-81c4-6725905b0581")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="83c4b916-736c-4357-ba42-aaf034e70028")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="184ce65f-315c-4d4c-9760-a1bd9120910b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="96c55a4a-d95e-4078-b899-9d171dcfcd80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="c34431b9-ff73-44e1-aa2c-de02e92c0b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="085af664-5082-42b8-b6e7-b4e67cd0df43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="3771635c-3750-41c7-9d2f-035bf42b32a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="756a0e790706e1eb84fbc8882e9f3dba", element="a91c57af-96fe-4cc7-b738-ddb9f46d52c4")>]

In [70]:
urls=[]
urls.append(page1.get_attribute('href'))

for i in URl:
    urls.append(i.get_attribute('href'))

In [71]:
urls

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [72]:
Rating=[]
Review_summary=[]
Full_review=[]

for i in urls:
    
    Ratings=Driver5.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    
    for i in Ratings:
        Rating.append(i.text)
        
    review_summary=Driver5.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    
    for i in review_summary:
        Review_summary.append(i.text)
        
    full_review=Driver5.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    
    for i in full_review:
        Full_review.append(i.text)

In [73]:
Phone_rating=pd.DataFrame({})
Phone_rating['Rating']=Rating
Phone_rating['Review_summary']=Review_summary
Phone_rating['Full_review']= Full_review
Phone_rating

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :

1.Brand

2.Product Description

3.Price

4.discount %

In [125]:
Driver4=webdriver.Chrome("chromedriver.exe")

In [126]:
url="https://www.flipkart.com/" 
Driver4.get(url)

In [127]:
search_sneakers= Driver4.find_element_by_xpath('//input[@class="_3704LK"]')

In [128]:
search_sneakers.send_keys("sneakers")

In [129]:
search_btn=Driver4.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [130]:
search_btn.click()

In [131]:
page1=Driver4.find_element_by_xpath('//a[@class="ge-49M _2Kfbh8"]')

URl= Driver4.find_elements_by_xpath('//a[@class="ge-49M"]')

In [132]:
page1

In [133]:
URl

[<selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="e94360b1-a84e-480c-94f0-d9aa0af45afe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="bd292d3e-8c99-4274-b8e6-401e9c0ffd0d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="e1977e2a-4d3c-4901-9814-30709dd8708a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="23d95032-6be6-4617-b9c3-1b851e4d5e1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="bd1e2d54-3955-4f4b-b6e9-50f54f7033a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="d0e89d9a-a359-475e-b868-bb52f1dc5f9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="dc1b3d26-ee18-4dc5-8bec-369760358e8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="fbe146a7-e520-42b0-9e5b-55e0ca46aa32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="cedcb6fe0d4b2f853be2647edad4c05d", element="67a87483-7e28-49b5-96c1-896d057411d8")>]

In [134]:
urls=[]

urls.append(page1.get_attribute('href'))


for i in URl[0:2]:
    urls.append(i.get_attribute('href'))

In [135]:
Brand_name=[]
Product_Description=[]
Price=[]
Discount=[]

for i in urls:
    Brand=Driver4.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in Brand:
        Brand_name.append(i.text)

    Product_Desc=Driver4.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in Product_Desc:
        Product_Description.append(i.text)
    
    price=Driver4.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
    
    discount=Driver4.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount:
        Discount.append(i.text)

In [136]:
sneakers_data=pd.DataFrame({})
sneakers_data['Brand_name']=Brand_name[0:100]
sneakers_data['Product_Description']=Product_Description[0:100]
sneakers_data['Price']= Price[0:100]
sneakers_data['Discount']=Discount[0:100]
sneakers_data

,Brand_name,Product_Description,Price,Discount
0,DUCATI,Sneakers For Men,"₹1,499",59% off
1,Echor,Mens Walking Running Shoes - Lightweight Breat...,₹399,60% off
2,Magnolia,Sneakers For Men,₹356,64% off
3,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
4,Longwalk,Men Boxer Sneakers For Men,₹236,52% off
...,...,...,...,...
95,India hub,Sneakers For Men,₹399,80% off
96,Shoes Bank,Sneakers For Men,₹349,65% off
97,Numenzo,Luxury Fashionable Breathable Casual Sneakers ...,₹449,65% off
98,Kraasa,"Casual shoes,Sneakers for men's,shoes for men'...",₹444,55% off
99,Echor,Sneakers For Men,₹429,57% off

Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image . And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image. Please

In [110]:
Driver6= webdriver.Chrome("chromedriver.exe")
url="https://www.myntra.com/shoes" 
Driver6.get(url)

In [111]:
Price_range=Driver6.find_element_by_xpath('//input[@class="price-input" and @value="6897.0 TO 13595.0"]')
Price_range

In [112]:
Color_range=Driver6.find_element_by_xpath('//span[@data-colorhex="black"]')
Color_range.click()

In [113]:
Next_btn= Driver6.find_element_by_xpath('//li[@class="pagination-next"]')

In [116]:
Brand=[]
Short_summary=[]
Price=[]

for i in range(1,3):
    brand=Driver6.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in brand:
        Brand.append(i.text)
        
    short_summary=Driver6.find_elements_by_xpath('//h4[@class="product-product"]')
    
    for i in short_summary:
        Short_summary.append(i.text)
        
    price=Driver6.find_elements_by_xpath('//div[@class="product-price"]')
    
    for i in price:
        Price.append(i.text)
    
Next_btn.click()

In [117]:
Shoes_Data= pd.DataFrame({})
Shoes_Data['Brand']=Brand
Shoes_Data['Short_summary']= Short_summary
Shoes_Data['Price']=Price
Shoes_Data

,Brand,Short_summary,Price
0,INVICTUS,Men Textured Loafers,Rs. 658Rs. 2995(78% OFF)
1,Puma,Men Cell Fraction Fade Running,Rs. 6999
2,H&M,,Rs. 2299
3,H&M,Square-Toe Sandals,Rs. 1999
4,HRX by Hrithik Roshan,Men Woven Design Fly Sneakers,Rs. 1349Rs. 2999(55% OFF)
...,...,...,...
95,ASICS,Men Running Shoes,Rs. 3849Rs. 5499(30% OFF)
96,Crew STREET,Men Woven Design Running Shoes,Rs. 899Rs. 2999(70% OFF)
97,U.S. Polo Assn.,Men Leather Loafers,Rs. 2419Rs. 4399(45% OFF)
98,HIGHLANDER,Men Sneakers,Rs. 796Rs. 1990(60% OFF)
99,Mast & Harbour,Women Solid Ballerinas,Rs. 919Rs. 2299(60% OFF)

Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: WEB SCRAPING ASSIGNMENT-2 . After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

In [118]:
Driver7= webdriver.Chrome("chromedriver.exe")
url="https://www.amazon.in/" 
Driver7.get(url)

In [119]:
search_product= Driver7.find_element_by_xpath('//input[@type="text"]')
search_product.send_keys("Laptop")

search_btn=Driver7.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_btn.click() 
filter_btn1=Driver7.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span')
filter_btn1.click()

filter_btn2=Driver7.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span')
filter_btn2.click()

In [120]:
title=Driver7.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
Title=[]
for i in title[0:10]:
    Title.append(i.text)
    
price=Driver7.find_elements_by_xpath('//span[@class="a-price-whole"]')    
Price=[]
for i in price[0:10]:
    Price.append(i.text)

In [121]:
Url= Driver7.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]')

In [122]:
Laptop_urls=[]
for i in Url:
    Laptop_urls.append(i.get_attribute('href'))

In [123]:
Rating=[]
for i in Laptop_urls[0:10]:
    Driver7.get(i)
    time.sleep(5)
    try:
        rating=Driver7.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]')
        Rating.append(rating.text)
    except:
        Rating.append('--')

In [124]:
Laptop_data= pd.DataFrame({})
Laptop_data['Title']=Title
Laptop_data['Price']= Price
Laptop_data['Rating']= Rating
Laptop_data

                                               Title     Price        Rating
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,23,350  4.1 out of 5
1  Acer Swift 5 14" (35.56cms) Full HD IPS Displa...    94,999  3.7 out of 5
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...    57,990  4.2 out of 5
3  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....    77,990  4.3 out of 5
4  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....  1,07,990  4.1 out of 5
5  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  5,56,524  3.7 out of 5
6  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    85,990            --
7  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    84,990    3 out of 5
8  HP Pavilion Gaming 11th Gen Intel Core i7 15.6...    89,990  3.7 out of 5
9  ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD ...  1,09,990  3.7 out of 5